<h2>{{loot.name}}</h2>

<h4>Cyan</h4>
{{#bs-button-group
  value=cyanLoot
  type="checkbox"
  onChange=(action (mut cyanLoot)) as |bg|}}
	{{#each loot.cyan as |item|}}
		{{#bg.button value=item}}{{/bg.button}}
  	{{/each}}
{{/bs-button-group}}

{{#bs-button onClick=(action "save" cyanLoot)}}Save{{/bs-button}}