.col-sm-4{
	  text-align: center !important;
	  padding-left: 2.5% !important;
	  padding-right: 2.5% !important;
};

.confirm-buttons{
	padding-left: 5% !important;
	padding-top: 3% !important;
}
@import "variables";
@import "ember-bootstrap/bootstrap";